@CHARSET "UTF-8";

body {margin:0;}
#start{
    width:100px;
    height:40px;
    border-radius:10px;
    background-color:#333;
    color:white;
    font-size:50px;
    text-align:center;
    line-height:50px;
    position:absolute;
}
.mole {
    position: absolute;
    width: 65%;
    height: 165%;
    background-image: url('mole.png');
    background-size: 100% 100%;
    margin-left:auto;
    margin-right:auto;
    bottom:55px;
    left:70px;
}
.machine{
    height: 100%;
    width: 100%;
    background-image: url('grassBackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left:0px;
    top:0px;
    position:absolute;
    
}
.titleBar {
    float:left;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    height:13%;
    width: 100%;
}
.titleBar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 18px;
    text-decoration:none;
    font-size: 30px;
}
.titleBar a:hover {
    background: #ddd;
    color: black;
}
#score {
    position: relative;
    color: #f2f2f2;
    line-height: 70px;
    text-align: center;
    font-size: 50px;
    top:25px;
}
#display {
    position: relative;
    color: #f2f2f2;
    line-height: 20px;
    top: 30px;
    text-align: center;
    font-size: 25px;
}
.hole {
    width: 22%;
    height: 16%;
    text-align: center;
    position: absolute;
    background-image: url('hole.png');
    background-size: 100% 100%;
}
.holeFront {
    background-image: url('hole2.png');
    position: absolute;
    width:100%;
    height:50%;
    background-size: 100% 100%;
    top:52%;
}
.sign{
    background: url('WhackAMole.jpg') no-repeat center center;background-size:contain;
    position:absolute;
    width:500px;
    height:500px;
}
.hole1{
   top:35%; 
   left:2%;
}
.hole2 {
    top:35%;
    left:27%;
}
.hole3{
    top:35%;
    left:52%;
}
.hole4 {
    top: 35%;
    left: 77%;
}
.hole5{
    top:80%;
    left:2%;
}
.hole6{
    top:80%;
    left:27%;
}
.hole7 {
    top: 80%;
    left: 52%;
}
.hole8 {
    top: 80%;
    left: 77%;
}
.mole1{
    
}
.mole2{
    
}
.mole3{
    
}
.mole4{
    
}
.mole5{
    
}
.mole6{
    
}
.mole7 {

}
.mole8 {

}
.holeFront1{

}
#slideUp{
    width:100px;
    height:40px;
    border-radius:10px;
    background-color:darkgoldenrod;
    color:white;
    font-size:20px;
    text-align:center;
    line-height:40px;
    
    
}
#time{
    width:100px;
    height:40px;
    border-radius:10px;
    background-color:#333;
    color:white;
    font-size:30px;
    text-align:center;
    line-height:50px;
    position:absolute;
}